* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, .production-list article header span, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

button, input {
  line-height: normal;
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  *overflow: visible;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

.row.row--padded {
  padding-left: 20px;
  padding-right: 20px;
}

.row [class*="span"] {
  width: 100%;
  float: left;
  display: inline-block;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 1.3125em;
}
.row [class*="span"] > .row {
  overflow: hidden;
  width: 101%;
  margin-left: -20px;
  margin-top: 1.3125em;
}

.row--grid-reverse [class*="span"] {
  float: right;
}
.row--grid-reverse [class*="span"] .row--grid-unreverse [class*="span"] {
  float: left;
}

.row [class*="span"].no-trailer {
  margin-bottom: 0;
}

.row--grid-highlight article {
  background: #eee;
  padding: 1em;
}
.row--grid-highlight article h4 {
  font-size: 12px;
}

.as-form .row [class*="span"] {
  margin-bottom: 0;
}

.clearfix, .row, .container {
  *zoom: 1;
}
.clearfix:after, .row:after, .container:after {
  content: "";
  display: table;
  clear: both;
}

.max-width {
  max-width: 100%;
  height: auto;
}

html {
  font-size: 100%;
  height: 100%;
}

body {
  color: #848484;
  background: #f8f9fb;
  height: 100%;
}

.sans-serif, .heading-one, .typeset h1, .heading-two, .typeset h2, .heading-three, .typeset h3, .logo, .heading-four, .typeset h4, .heading-five, .typeset h5, .heading-six, .typeset h6, .global-header nav li, .pagination li {
  font-family: arial, sans-serif;
}

.serif, body {
  font-family: georgia, serif;
}

.heading-one, .typeset h1 {
  font-size: 1.75em;
  line-height: 1.25em;
  font-weight: 700;
}

.heading-two, .typeset h2 {
  font-size: 1.5em;
  line-height: 1.1666667em;
  font-weight: 700;
}

.heading-three, .typeset h3, .logo {
  font-size: 1.25em;
  line-height: 1.4em;
  font-weight: 700;
}

.heading-four, .typeset h4 {
  font-size: 1em;
  line-height: 1.3125em;
  font-weight: 700;
}

.heading-five, .typeset h5 {
  font-size: 1em;
  line-height: 1.3125em;
  font-weight: 700;
}

.heading-six, .typeset h6 {
  font-size: 1em;
  line-height: 1.3125em;
  font-weight: 700;
}

.heading-one.typeset, .typeset h1.typeset {
  margin: 0 0 0.5em 0;
}

.heading-two.typeset, .typeset h2.typeset {
  margin: 0 0 0.5833333em 0;
}

.heading-three.typeset, .typeset h3.typeset, .logo {
  margin: 0 0 0.7em 0;
}

.heading-four.typeset, .typeset h4.typeset {
  margin: 0 0 0.875em 0;
}

.heading-five.typeset, .typeset h5.typeset {
  margin: 0 0 0.875em 0;
}

.heading-six.typeset, .typeset h6.typeset {
  margin: 0 0 0.875em 0;
}

.typeset h1 {
  margin: 0 0 0.5em 0;
}
.typeset h2 {
  margin: 0 0 0.5833333em 0;
}
.typeset h3 {
  margin: 0 0 0.7em 0;
}
.typeset h4 {
  margin: 0 0 0.875em 0;
}
.typeset h5 {
  margin: 0 0 0.875em 0;
}
.typeset h6 {
  margin: 0 0 0.875em 0;
}

ul {
  list-style-type: none;
}

ol {
  list-style-type: none;
}

li {
  line-height: auto;
}

strong, b {
  font-weight: 700;
}

em, i, q {
  font-style: italic;
}

p, .production-list article header span, pre, label, input, textarea {
  font-size: 0.875em;
  line-height: 1.5em;
}

ol, ul, dl {
  font-size: 0.875em;
  line-height: 1.5em;
}
ol ul, ol ol, ul ul, ul ol, dl ul, dl ol {
  font-size: 100%;
  padding-left: 1em;
}

.as-para, p.typeset, .production-list article header span.typeset, .typeset p, .typeset .production-list article header span, .production-list article header .typeset span {
  margin: 0 0 1em 0;
}

.as-list, ul.typeset,
ol.typeset,
.as-descriptive-list, .typeset ul, .typeset ol {
  margin: 0 0 2em 0;
}

.as-descriptive-list {
  overflow: hidden;
}
.as-descriptive-list dt, .as-descriptive-list dd {
  display: inline-block;
  float: left;
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -hp-pre-wrap;
  word-wrap: break-word;
}
.as-descriptive-list dt {
  font-weight: 700;
  width: 30%;
}
.as-descriptive-list dd {
  width: 70%;
}

.as-blockquote, .typeset blockquote {
  line-height: normal;
  margin: 0;
}
.as-blockquote p, .typeset blockquote p, .as-blockquote .production-list article header span, .production-list article header .as-blockquote span, .typeset blockquote .production-list article header span, .production-list article header .typeset blockquote span {
  margin: 0;
  font-style: italic;
  font-size: 1.3125em;
  line-height: 1.3333333em;
  margin: 1em 0 1em 0;
}

label {
  display: block;
  font-weight: 700;
  margin: 1.5em 0 0.5em 0;
}

fieldset.checkbox label,
fieldset.radio label {
  margin: 0.5em 0 0.5em 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9;
  *margin-top: 0;
  line-height: normal;
  cursor: pointer;
  position: relative;
  top: -1px;
  margin-right: 3px;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

input[type="file"],
input[type="image"],
input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="radio"],
input[type="checkbox"] {
  width: auto;
}

select,
input[type="file"] {
  *margin-top: 4px;
}

select:focus,
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

textarea,
input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"] {
  border: 2px solid #bbbcbe;
  padding-left: 0.5em;
  padding-right: 0.5em;
  border-radius: 3px;
  padding-top: 0.4375em;
  padding-bottom: 0.4375em;
  width: 99%;
}

input:focus, textarea:focus {
  outline: 0;
}

select {
  width: 99%;
}

fieldset {
  margin-bottom: 1.75em;
}
fieldset h2, fieldset h3, fieldset h4 {
  font-weight: 700;
  border-color: #bbbcbe;
  padding-bottom: 0.4375em;
}
fieldset h2 {
  font-size: 1.5em;
  line-height: 1.1666667em;
  border-bottom-style: solid;
  border-bottom-width: 0.0833333em;
  padding-bottom: -0.0833333em;
}
fieldset h3 {
  font-size: 1.25em;
  line-height: 1.4em;
  border-bottom-style: solid;
  border-bottom-width: 0.1em;
  padding-bottom: -0.1em;
}
fieldset h4 {
  font-size: 1em;
  line-height: 1.3125em;
  border-bottom-style: solid;
  border-bottom-width: 0.125em;
  padding-bottom: -0.125em;
}

h1, h2, h3, h4, h5, h6 {
  color: #2c2c2c;
}

a {
  color: #848484;
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -hp-pre-wrap;
  word-wrap: break-word;
  text-decoration: none;
}
a:hover, a:focus, a:active {
  color: #848484;
}

.container {
  margin: 0 auto;
  width: 95%;
}

.global-header {
  padding-top: 1.3125em;
  border-bottom-style: solid;
  border-bottom-width: 0.0714286em;
  padding-bottom: -0.0714286em;
  background: #fff;
  border-color: #e1e2e4;
}
.global-header nav li {
  display: inline;
  margin-right: 0.5em;
}
.global-header nav li:last-child {
  margin-right: 0;
}

.production-list article {
  padding-bottom: 1.75em;
  padding-top: 1.75em;
  margin-bottom: 1.75em;
  border-bottom-style: solid;
  border-bottom-width: 0.0714286em;
  padding-bottom: -0.0714286em;
  border-color: #e1e2e4;
}
.production-list article header {
  margin-bottom: 0.875em;
}
.production-list article header span {
  display: block;
  text-transform: lowercase;
  font-variant: small-caps;
  letter-spacing: 0.1875em;
}

.widget {
  overflow: hidden;
  padding-top: 1.75em;
  margin-bottom: 1.75em;
}

.pagination {
  padding-top: 1.3125em;
  padding-bottom: 1.3125em;
}
.pagination ul {
  margin-bottom: 0;
}
.pagination li {
  display: inline;
  padding: 0.25em 0.5em;
  border: 1px solid #848484;
  font-size: 1em;
  line-height: 1.3125em;
}
.pagination .current a {
  color: #2c2c2c;
}

@media screen and (min-width: 30em) {
  .container {
    min-width: 95%;
  }

  .row .span3-1 {
    width: 33.3333333%;
  }
  .row .span3-2 {
    width: 66.6666667%;
  }
  .row .span3-3 {
    width: 100%;
  }
  .row .span4-1 {
    width: 25%;
  }
  .row .span4-2 {
    width: 50%;
  }
  .row .span4-3 {
    width: 75%;
  }
  .row .span4-4 {
    width: 100%;
  }
}
@media screen and (min-width: 43.75em) {
  .container {
    min-width: 42.5em;
  }

  .row .span6-1 {
    width: 16.6666667%;
  }
  .row .span6-2 {
    width: 33.3333333%;
  }
  .row .span6-3 {
    width: 50%;
  }
  .row .span6-4 {
    width: 66.6666667%;
  }
  .row .span6-5 {
    width: 83.3333333%;
  }
  .row .span6-6 {
    width: 100%;
  }
  .row .span8-1 {
    width: 12.5%;
  }
  .row .span8-2 {
    width: 25%;
  }
  .row .span8-3 {
    width: 37.5%;
  }
  .row .span8-4 {
    width: 50%;
  }
  .row .span8-5 {
    width: 62.5%;
  }
  .row .span8-6 {
    width: 75%;
  }
  .row .span8-7 {
    width: 87.5%;
  }
  .row .span8-8 {
    width: 100%;
  }

  .logo {
    margin-bottom: 0;
  }

  .global-header nav {
    margin-top: 0.21875em;
  }
  .global-header nav ul {
    float: right;
  }
}
@media screen and (min-width: 61.25em) {
  .container {
    max-width: 67.5em;
  }

  .row .span12-1 {
    width: 8.3333333%;
  }
  .row .span12-2 {
    width: 16.6666667%;
  }
  .row .span12-3 {
    width: 25%;
  }
  .row .span12-4 {
    width: 33.3333333%;
  }
  .row .span12-5 {
    width: 41.6666667%;
  }
  .row .span12-6 {
    width: 50%;
  }
  .row .span12-7 {
    width: 58.3333333%;
  }
  .row .span12-8 {
    width: 66.6666667%;
  }
  .row .span12-9 {
    width: 75%;
  }
  .row .span12-10 {
    width: 83.3333333%;
  }
  .row .span12-11 {
    width: 91.6666667%;
  }
  .row .span12-12 {
    width: 100%;
  }

  .global-header nav li {
    margin-right: 1em;
  }

  .production-list .row aside .widget {
    padding-left: 40px;
  }

  .row .production-list__sequence {
    border-right: 1px solid #e1e2e4;
    padding-right: 0;
  }
  .row .production-list__sequence article {
    padding-right: 10%;
  }
}
@media screen and (max-width: 43.75em) {
  .is-hidden-ss {
    display: none!important;
  }
}
@media screen and (min-width: 43.75em) and (max-width: 61.25em) {
  .is-hidden-tb {
    display: none!important;
  }
}
@media screen and (max-width: 61.25em) {
  .is-hidden-ss-tb {
    display: none!important;
  }
}
.is-shown, .is-block {
  display: block;
}

.is-uppercase {
  text-transform: uppercase;
  letter-spacing: 1px;
}

.is-lowercase {
  text-transform: lowercase;
}

.as-alert {
  background: #fff;
  padding: 0.5em 1em;
}

.is-hidden {
  display: none;
}

@media screen and (max-width: 769px) {
  -webkit-text-size-adjust: none;
}
@media print {
  body {
    font-size: 62.5%;
    line-height: 0.875em;
  }
}
