{% block title %}
| Productions
{% endblock %}

{% block content %}
	<article class="l-productions">
	
		<section class="production-list container">
			
			<div class="row">
			
				<div class="production-list__sequence typeset span6-4 span12-8">
					<article>
						<header>
							<h2><a href="">Production name</a></h2>
							<span>12&mdash;15 May 2013</span>
						</header>
						<p>This error is most often caused by having no connection to the Internet or a misconfigured network. It can also be caused by an unresponsive DNS server or a firewall preventing Google Chrome from accessing the network</p>
						<p><a href="">Book tickets &raquo;</a></p>
					</article>
					
					<article>
						<header>
							<h2><a href="">Production name</a></h2>
							<span>12&mdash;15 May 2013</span>
						</header>
						<p>This error is most often caused by having no connection to the Internet or a misconfigured network. It can also be caused by an unresponsive DNS server or a firewall preventing Google Chrome from accessing the network</p>
						<p><a href="">Book tickets &raquo;</a></p>
					</article>
					
					<article>
						<header>
							<h2><a href="">Production name</a></h2>
							<span>12&mdash;15 May 2013</span>
						</header>
						<p>This error is most often caused by having no connection to the Internet or a misconfigured network. It can also be caused by an unresponsive DNS server or a firewall preventing Google Chrome from accessing the network</p>
						<p><a href="">Book tickets &raquo;</a></p>
					</article>
					
					<nav class="pagination">
						<ul>
							<li class="current"><a href="">1</a></li>
							<li><a href="">2</a></li>
							<li><a href="">3</a></li>
							<li><a href="">4</a></li>
							<li><a href="">5</a></li>
						</ul>
					</nav>			
				</div>
				
				<aside class="typeset span6-2 span12-4">
					<div class="widget widget--text">
						<h4>Widget</h4>
						<p>This error is most often caused by having no connection to the Internet or a misconfigured network. It can also be caused by an unresponsive DNS server or a firewall preventing Google Chrome from accessing the network</p>
					</div>
					
					<div class="widget widget--dates">
						<h4>Widget</h4>
						<p>This error is most often caused by having no connection to the Internet or a misconfigured network. It can also be caused by an unresponsive DNS server or a firewall preventing Google Chrome from accessing the network</p>
					</div>
					
					<div class="widget widget--promo">
						<h4>Widget</h4>
						<p>This error is most often caused by having no connection to the Internet or a misconfigured network. It can also be caused by an unresponsive DNS server or a firewall preventing Google Chrome from accessing the network</p>
					</div>
				</aside>
				
			</div>
			
		</section>
		
	</article>
{% endblock %}